[project]
	description = test_library management
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hakthengseap
[access "refs/for/refs/*"]
	read = group user/hakthengseap
	push = group user/hakthengseap
	label-Code-Review = -2..+2 group user/hakthengseap
	label-Verified = -1..+1 group user/hakthengseap
	rebase = group user/hakthengseap
	removeReviewer = group user/hakthengseap
	submit = group user/hakthengseap
[access "refs/heads/*"]
	read = group user/hakthengseap
	create = group user/hakthengseap
	push = +force group user/hakthengseap
	pushMerge = group user/hakthengseap
[access "refs/tags/*"]
	push = +force group user/hakthengseap
	pushTag = group user/hakthengseap
	pushSignedTag = group user/hakthengseap
